/* ===== INFO SECTION ===== */
.info-section-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 100px auto;
}
.section-title-custom {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
/* ===== Cards ===== */
.card-custom {
    height: 250px;
    border-radius: 20px;
    background-color: #080020b7;
    overflow: hidden;
    border: 1px solid gray;
    transition: 0.3s;
    position: relative;
}
.card-custom.tall {
    min-height: 750px; 
}
.card-custom img{
    width: 60%;
    height: 50%;
    object-fit: cover;
}
.card-custom video{
    width: 100%;
    height: auto;         
    border-radius: 1rem;  
    mix-blend-mode: lighten;
}
.card-custom h1 {
    font-size: 22px;
    color: lightgray;
    margin-bottom: 10px;
}
.card-custom p {
  font-size: 14px;
  line-height: 20px;
  color: #d0d0d0;
}
.card-custom button {
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  border: 1px solid #727fdeb4;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde86;
  cursor: pointer;
  transition: 0.3s
}
.card-custom button:hover {
  box-shadow: 0 0 15px #727fde86;
  opacity: 0.8;
}
.card-custom:hover {
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.5);
}
@media (max-width: 767px) {
    .card-custom.tall {
        min-height: 400px;
    }
}