.project-card {
  transition: all 0.4s ease;
}
.project-card.hidden {
  opacity: 0;
  transform: scale(0.97);
  pointer-events: none;
}
.filter-btn.active {
  background-color: #727fde;
  box-shadow: 0 0 15px #727fdeaa;
}
.project-card video:hover {
  transform: scale(1.03);
}