---
import "../styles/black-hole.css";
---
<div id="splash">
  <a-hole class="w-100 h-100">
    <canvas class="js-canvas"></canvas>
    <div class="aura"></div>
    <div class="overlay"></div>
  </a-hole>
</div>
<script type="module" src="../scripts/splash.js" defer></script>
