---
import "../styles/bg.css"
---

<!-- Fondo Principal -->
<video class="back-vid bg-video" loop autoplay muted playsinline>
    <source src="videos/galaxy.mp4" type="video/mp4" />
</video>   

<!-- Fondo de Header (comentar o eliminar video vacío por ahora) -->
<div class="blackhole-custom">
    <video loop autoplay muted playsinline></video>
</div>
