<footer class="text-light py-4 mt-5" style="background: rgba(0,0,0,0.5);">
    <div class="container">
        <div class="row align-items-center text-center text-lg-start">
            <!-- Logo -->
            <div class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center justify-content-center justify-content-lg-start">
                <img src="/images/angelcode.png" alt="logo" width="40" height="40" class="me-2" />
                <span class="fw-bold gradient">AngelCode</span>
            </div>
            <!-- Menú rápido -->
            <div class="col-lg-4 mb-3 mb-lg-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="/start" class="text-light text-decoration-none">Inicio</a></li>
                    <li class="list-inline-item"><a href="/about" class="text-light text-decoration-none">Sobre mí</a></li>
                    <li class="list-inline-item"><a href="/projects" class="text-light text-decoration-none">Proyectos</a></li>
                    <li class="list-inline-item"><a href="/contact" class="text-light text-decoration-none">Contacto</a></li>
                </ul>
            </div>
            <!-- Redes -->
            <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end">
                <a href="https://www.instagram.com/angeljeremias05/" class="text-light me-3 fs-4"><i class='bx bxl-instagram'></i></a>
                <a href="https://github.com/AngelJeremiasAvellaneda" class="text-light me-3 fs-4"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/angel-addair-jeremias-avellaneda" class="text-light fs-4"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
        <hr class="border-light my-3" />
        <div class="text-center small">
            © 2025 <span class="fw-bold gradient">AngelCode</span>. Todos los derechos reservados.
        </div>
    </div>
</footer>  